body {
  font-family: "Arial", sans-serif;
  background-color: #222;
  color: #fff;
  margin: 0;
}

#main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #333;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#heading {
  text-align: center;
}

#title {
  color: #ffcc00;
  font-size: 400%;
  width: 60vmax;
}

.introduction {
  font-size: 16px;
  color: #ccc;
  margin-bottom: 50px;
}

#img-div {
  margin-top: 20px;
  text-align: center;
}

#image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin: 0 auto;
}

#img-caption {
  color: #999;
  font-style: italic;
  margin-top: 0;
  padding-top: 0;
}

#tribute-info {
  margin-top: 20px;
}

#tribute-info h2 {
  color: #ffcc00;
}

#tribute-info ul {
  list-style-type: none;
}

#tribute-info li {
  margin-bottom: 10px;
  color: #ccc;
}

.center {
  text-align: center;
}

#tribute-link {
  color: #4285f4;
  text-decoration: none;
  font-weight: bold;
}

#tribute-link:hover {
  text-decoration: underline;
}

.center {
  margin: auto;
  padding: auto;
  text-align: center;
}
